#account-manage-panel
{
    .ga-tips
    {
        display: none;
    }

    thead
    {
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .empty,thead
    {
        background-color: #696969;
        color:#fff;
    }

    table
    {
        margin-top: 10px;
    }

    tr:hover .glyphicon
    {
        visibility: visible;
    }

    .glyphicon
    {
        visibility: hidden;
    }
}

#account-changepwd-panel
{
    margin-top: 20px;
}