#group-manage-panel
{
    .actions
    {
        visibility: hidden;
        .glyphicon
        {
            margin-right: 15px;
        }
    }

    tr:hover .actions
    {
        visibility: visible;
    }

    thead
    {
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .empty,thead
    {
        background-color: #696969;
        color:#fff;
    }

    td
    {
        width: 33%;
    }

    table
    {
        margin-top: 10px;
    }
    .event-mount
    {
        .select
        {
            span
            {
                display: inline;
            }
        }
        ul
        {
            height: 200px;
            overflow:scroll;
        }

        li
        {
            display: inline-block;
            width: 30%;
            margin: 2px 4px;
        }

        span
        {
            float: right;
            display: none;
        }
        
    }

    #group-event-modal
    {
        li:hover > .glyphicon
        {
            display: inline;
        }

        h5
        {
            text-align: center;
        }
    }
}

#group-setting-panel
{
    .mode
    {
        select
        {
            width: 80%;
            display: inline-block;
        }

        height: 100px;
    }

    .rule
    {
        display: none;

        tr:hover .glyphicon
        {
            visibility:visible;
        }
    }

    .glyphicon
    {
        visibility:hidden;
        float: right;
    }

    h4,h5
    {
        text-align: center;
    }

    ul
    {
        padding-left: 0;
        height: 200px;
        overflow: scroll;
    }

    .select > .glyphicon
    {
        visibility:visible;
    }

    .member
    {
        li:hover > .glyphicon
        {
            visibility:visible;
        }
    }
}