#group-manage-panel
{
    .actions
    {
        visibility: hidden;
        .glyphicon
        {
            margin-right: 15px;
        }
    }

    tr:hover .actions
    {
        visibility: visible;
    }

    thead
    {
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .mount .empty,thead
    {
        background-color: #696969;
        color:#fff;
    }

    td
    {
        width: 33%;
    }

    table
    {
        margin-top: 10px;
    }
    .event-mount
    {
        .select
        {
            span
            {
                display: inline;
            }
        }
        ul
        {
            height: 200px;
            overflow:scroll;

            @media screen and (max-width:1130px){
                height: 150px;
            }
        }

        li
        {
            @media screen and (max-width:960px){
                width: 100%;
                margin: 0;
            }
            display: inline-block;
            width: 50%;
            float: left;
        }

        span
        {
            float: right;
            display: none;
        }
        
        .empty
        {
            line-height: 1.5em;
        }
    }

    #group-event-modal
    {
        li:hover > .glyphicon
        {
            display: inline;
        }

        h5
        {
            text-align: center;
        }
    }
}

#group-member-panel
{
    .member
    {
        div
        {
            // width: 40%;
            // float: left;
        }

        // .in
        // {
            // margin-right: 20%;
        // }

        ul
        {
            height: 200px;
            overflow: scroll;
        }

        .glyphicon
        {
            float: right;
            display: none;
        }

        li:hover .glyphicon
        {
            display: inline;
        }
    }
}

#group-taskmode-panel
{
    .rules
    {
        margin-top: 20px;
    }

    table
    {
        text-align: center;

        .event
        {
            width: 40%;
        }

        .assign
        {
            width: 30%;
        }

        .type
        {
            width: 15%;
        }
    }

    thead
    {
        font-size: 1.1em;
    }

    h5,h6
    {
        text-align: center;
    }

    h6:hover
    {
        cursor: pointer;
    }

    .create-rule-modal
    {
        .member
        {
            height: 200px;
            overflow: scroll;

            li
            {
                width: 50%;
                display: inline-block;
                float: left;
            }

            .select .glyphicon
            {
                display: inline;
            }

            .glyphicon
            {
                display: none;
                float:right;
            }
        }
    }
}