#index-panel
{
  padding-top: 20px;

  h3
  {
    text-align: center;
    margin-bottom: 40px;
    span
    {
      font-size: 0.8em;
    }
  }

  p
  {
    font-size:1.2em;
    border-bottom: 2px solid #696969;
    margin-bottom: 40px;
  }

  .number
  {
    font-size:1.2em;
  }
}
