html,
body {
  height: 100%;
}

@import './public.scss';
@import './alert.scss';
@import './zone-event.scss';
@import './spinner.scss';
@import './report.scss';
@import './account.scss';

.container
{
  margin-top: 20px;
}

#login-btn
{
  width: 100%;
}


.tab-pane
{
  display: none;
}

.active
{
  display: block;
} 

#alert
{
  .modal-title
  {
    line-height: 2.0em;
    text-align: center;
  }

  .error
  {
    color:#d9534f;
  }

  .success
  {
    color:#5cb85c;
  }

  .modal-header
  {
    padding: 0;
  }

  .modal-footer
  {
    padding: 5px;
  }
  
  .modal-body
  {
    font-size:1.1em;
    text-align: center;
  }

}

.error-block
{
  display: inline-block;
  font-size:1em;
  margin-top: 5px;
}

.nav-tabs
{
  margin-bottom: 10px;
}



